# You are not meant to see this page. Please go back to the homepage and use the <a href="/websites">main settings page.</a>

<!-- code here -->
Domain
<br>
<span>
	<% if (subdomain && subdomain.length > 0) { %>
		<input type=text class=input value="<%= subdomain %>">
	<% } else { %>
		<%= domain %>
	<% } %>
</span>
<input type=submit text="Save Changes" class="button is-link">
