<script src="/js/sidebar.js"></script>

<div class="column is-one-third" style="padding: 0.4in">
	<aside class="menu">
		<p class="menu-label">
			General
		</p>
		<ul class=menu-list>
			<li><a href="/websites">Websites & Domains</a></li>
			<li><a href="/mail">Mail</a></li>
			<li><a href="/users">Users</a></li>
		</ul>
	</aside>
</div>